@charset "UTF-8";
/** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/29/2014 */
/* Table of contents
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Grid
 *- Buttons
 *- Forms
 *- Lists
 *- Tables
 *- Clearing */
/* Grid
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }

.column, .columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* Between small phones and desktop */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; } }
/* Larger than phones (desktop) */
@media (min-width: 550px) {
  .container {
    width: 90%; }

  .column, .columns {
    margin-left: 2%; }

  .column:first-child, .columns:first-child {
    margin-left: 0; }

  .one.column, .one.columns {
    width: 6.5%; }

  .two.columns {
    width: 15%; }

  .three.columns {
    width: 23.5%; }

  .four.columns {
    width: 32%; }

  .five.columns {
    width: 40.5%; }

  .six.columns {
    width: 49%; }

  .seven.columns {
    width: 57.5%; }

  .eight.columns {
    width: 66%; }

  .nine.columns {
    width: 74.5%; }

  .ten.columns {
    width: 83%; }

  .eleven.columns {
    width: 91.5%; }

  .twelve.columns {
    width: 100%;
    margin-left: 0; }

  .one-third.column {
    width: 32%; }

  .two-thirds.column {
    width: 66%; }

  .one-half.column {
    width: 49%; }

  /* Offsets */
  .offset-by-one.column, .offset-by-one.columns {
    margin-left: 8.5%; }

  .offset-by-two.column, .offset-by-two.columns {
    margin-left: 17%; }

  .offset-by-three.column, .offset-by-three.columns {
    margin-left: 25.5%; }

  .offset-by-four.column, .offset-by-four.columns {
    margin-left: 34%; }

  .offset-by-five.column, .offset-by-five.columns {
    margin-left: 42.5%; }

  .offset-by-six.column, .offset-by-six.columns {
    margin-left: 51%; }

  .offset-by-seven.column, .offset-by-seven.columns {
    margin-left: 59.5%; }

  .offset-by-eight.column, .offset-by-eight.columns {
    margin-left: 68%; }

  .offset-by-nine.column, .offset-by-nine.columns {
    margin-left: 76.5%; }

  .offset-by-ten.column, .offset-by-ten.columns {
    margin-left: 85%; }

  .offset-by-eleven.column, .offset-by-eleven.columns {
    margin-left: 93.5%; }

  .offset-by-one-third.column, .offset-by-one-third.columns {
    margin-left: 34%; }

  .offset-by-two-thirds.column, .offset-by-two-thirds.columns {
    margin-left: 68%; }

  .offset-by-one-half.column, .offset-by-one-half.columns {
    margin-left: 51%; } }
/* Buttons
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button, button {
  display: inline-block;
  height: 3em;
  padding: 0 1em;
  color: inherit;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  background-color: inherit;
  border: 1px solid #d7d7d7;
  border-radius: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: inherit;
  cursor: pointer; }

input[type="submit"], input[type="reset"], input[type="button"] {
  display: inline-block;
  height: 3em;
  padding: 0 1em;
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: inherit;
  border: 1px solid #d7d7d7;
  border-radius: none;
  box-shadow: none;
  box-sizing: border-box;
  font-size: inherit;
  cursor: pointer; }

.button:hover, button:hover {
  color: #333;
  border-color: #888;
  outline: 0; }

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
  border-color: #0b24fa;
  outline: 0; }

.button:focus, button:focus {
  border-color: #0b24fa;
  outline: 0; }

input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus {
  color: inherit;
  background-color: #fb0d1b;
  border-color: inherit; }

/* Forms
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
form.forma_negativo input {
  color: white; }

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  height: 3em;
  padding: 1em;
  width: 100%;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid #d7d7d7;
  border-radius: none;
  box-shadow: none;
  box-sizing: border-box; }

textarea, select {
  height: 3em;
  padding: 1em;
  width: 100%;
  font-size: inherit;
  background-color: transparent;
  border: 1px solid #d7d7d7;
  border-radius: none;
  box-shadow: none;
  box-sizing: border-box; }

/* Removes awkward default styles on some inputs for iOS */
input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }

input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="text"]:focus, input[type="tel"]:focus, input[type="url"]:focus, input[type="password"]:focus {
  border: 1px solid #0b24fa;
  outline: 0; }

textarea:focus, select:focus {
  border: 1px solid #0b24fa;
  outline: 0; }

label, legend {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600; }

fieldset {
  padding: 0;
  border-width: 0; }

input[type="checkbox"], input[type="radio"] {
  display: inline; }

label > .label-body {
  display: inline-block;
  margin-left: 0.5rem;
  font-weight: normal; }

/* Tables
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
th, td {
  padding: 1rem;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }

th:first-child, td:first-child {
  padding-left: 0; }

th:last-child, td:last-child {
  padding-right: 0; }

/* Clearing
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Self Clearing Goodness */
.container:after, .row:after, .u-cf {
  content: "";
  display: table;
  clear: both; }

/* Type */
@font-face {
  font-family: "usual";
  src: url(../fonts/Usual-RegularWeb.eot) format("eot");
  src: url(../fonts/Usual-RegularWeb.woff) format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "usual-bold";
  src: url(../fonts/Usual-BoldWeb.eot) format("eot");
  src: url(../fonts/Usual-BoldWeb.woff) format("woff");
  font-weight: bold;
  font-style: normal; }
html {
  font-size: 100%; }

body {
  font-size: 1em;
  font-family: "usual";
  /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: auto;
  color: #1c1c1c; }

html *, body * {
  line-height: 130%; }

p, h1, h2, h3, h4, h5, h6, blockquote {
  margin-top: 0;
  font-weight: inherit; }

h1 {
  font-size: 1.8rem; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

small, .meta {
  font-size: 0.8em; }

blockquote {
  font-size: 1.6em; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 {
    font-size: 4.5rem; }

  h2 {
    font-size: 2.625rem; }

  h3 {
    font-size: 2rem; }

  h4 {
    font-size: 1.5rem; }

  blockquote {
    font-size: 2.625rem; } }
b, strong {
  font-family: "usual-bold"; }

.rojo_txt {
  color: #fb0d1b; }

/* Contenidos
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Espaciados
 *- Links
 *- Colores
 *- Menú Superior
 *- Footer
 *- Listados Artículos
 *- Ads */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.spacer button, .spacer .button {
  margin-bottom: 1rem; }
.spacer input, .spacer textarea, .spacer select, .spacer fieldset {
  margin-bottom: 1.5rem; }
.spacer pre, .spacer blockquote, .spacer dl, .spacer figure, .spacer table, .spacer p, .spacer ul, .spacer ol, .spacer form {
  margin-bottom: 3rem; }
.spacer h1, .spacer h2, .spacer h3, .spacer h4, .spacer h5, .spacer h6 {
  margin-bottom: 2rem; }

.bloque_horizontal {
  margin-bottom: 3rem;
  padding-top: 3rem; }

/* Links
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #0d0d0d; }
  a:hover {
    color: #919191; }

/* Links
 *–––––––––––––––––––––––––––––––––––––––––––––––––– */
.fondo_rojo {
  background-color: #fb0d1b; }

.fondo_azul {
  background-color: #0b24fa; }

.fondo_azul_oscuro {
  background-color: #1b122c; }

.color_negro {
  color: #0d0d0d; }

.color_gris_claro {
  color: #919191; }

.color_gris_calido {
  color: #ebebeb; }

.color_rojo {
  color: #fb0d1b; }

.color_azul {
  color: #0b24fa; }

header {
  text-align: right;
  margin-bottom: 3rem; }

#top_menu {
  background-color: white;
  padding: 0.7em 0; }
  #top_menu a {
    color: #919191; }

#top_menu_categories {
  background-color: #fb0d1b;
  padding: 2rem 0; }
  #top_menu_categories a {
    color: white; }

#top_menu ul li,
#top_menu_categories ul li {
  display: inline-block;
  padding: 0.5em; }

#footer {
  margin-bottom: 0; }

#footer, #footer a {
  color: white; }

ul.follow_links li {
  text-align: center;
  display: inline-block; }
  ul.follow_links li a {
    display: block;
    padding: 1em 0;
    margin: 0 0.5em 1em 0.5em;
    width: 5.5em; }
  ul.follow_links li a:hover {
    opacity: 0.8; }

.follow_twitter a {
  background-color: #02b4ee; }

.follow_google a {
  background-color: #e1543f; }

.follow_facebook a {
  background-color: #214c79; }

.follow_linkedin a {
  background-color: #0072a1; }

.follow_rss a {
  background-color: #ee8202; }

.follow_pinterest a {
  background-color: #cc1006; }

.articulo {
  margin-bottom: 2rem; }
  .articulo a > img, .articulo a div.meta, .articulo a h3, .articulo a h4 {
    margin-bottom: 1em; }

.meta {
  overflow: auto;
  color: #919191; }
  .meta > span:first-child {
    float: left; }
  .meta > span:last-child {
    float: right; }

.ad_group {
  margin-bottom: 3rem; }

.ad_dh_uno > div:first-child {
  float: left;
  width: 50%; }
.ad_dh_uno > div:last-child {
  float: right;
  width: 50%; }
  .ad_dh_uno > div:last-child > div {
    padding: 1em; }
  .ad_dh_uno > div:last-child > div:first-child {
    background-color: #ebebeb; }
  .ad_dh_uno > div:last-child span {
    color: #919191; }

.ad_google_uno {
  text-align: right; }

/* Contenidos
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Home */
.columnas_home {
  color: white;
  position: relative; }
  .columnas_home a {
    color: white; }
  .columnas_home .columnas_quote {
    z-index: 3; }
  .columnas_home .columnas_autor_foto {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    height: auto;
    opacity: 0.2;
    z-index: 2; }

.home_ads_uno > div > div:first-child {
  width: 65%;
  float: left; }
.home_ads_uno > div > div:last-child {
  width: 35%;
  float: right;
  text-align: right; }
