/* Contenidos
	*––––––––––––––––––––––––––––––––––––––––––––––––––
	*- Espaciados
	*- Links
	*- Colores
	*- Menú Superior
	*- Footer
	*- Listados Artículos
	*- Ads

// Espaciados
// *––––––––––––––––––––––––––––––––––––––––––––––––––

// Border-box, como lo recomienda Chris Coyier
html
	box-sizing: border-box
*, *:before, *:after
	box-sizing: inherit

// Se propone condicionar las reglas universales
// de espaciado a contenedores específicos, para buscar
// flexibilidad con elementos que requieren espaciados
// muy precisos (menús, etc.)

$espacio_sencillo: 1rem
$espacio_medio: 1.5rem
$espacio_doble: 2rem
$espacio_bloque: 3rem

.spacer
	button, .button
		margin-bottom: $espacio_sencillo
	input, textarea, select, fieldset
		margin-bottom: $espacio_medio
	pre, blockquote, dl, figure, table, p, ul, ol, form
		margin-bottom: $espacio_bloque
	h1, h2, h3, h4, h5, h6
		margin-bottom: $espacio_doble

.bloque_horizontal
	margin-bottom: $espacio_bloque
	padding-top: $espacio_bloque

/* Links
 *––––––––––––––––––––––––––––––––––––––––––––––––––

a
	color: $negro
	&:hover
		color: $gris_claro

/* Links
 *––––––––––––––––––––––––––––––––––––––––––––––––––
.fondo_rojo
	background-color: $rojo
.fondo_azul
	background-color: $azul
.fondo_azul_oscuro
	background-color: $azul_oscuro
.color_negro
	color: #0d0d0d
.color_gris_claro
	color: #919191
.color_gris_calido
	color: #ebebeb
.color_rojo
	color: #fb0d1b
.color_azul
	color: #0b24fa

// Menú Superior
// *––––––––––––––––––––––––––––––––––––––––––––––––––

header
	text-align: right
	margin-bottom: $espacio_bloque
#top_menu
	background-color: white
	padding: .7em 0
	a
		color: $gris_claro
#top_menu_categories
	background-color: $rojo
	padding: $espacio_doble 0
	a
		color: white
#top_menu ul,
#top_menu_categories ul
	li
		display: inline-block
		padding: .5em

// Footer
// *––––––––––––––––––––––––––––––––––––––––––––––––––

#footer
	margin-bottom: 0
#footer, #footer a
	color: white
ul.follow_links
	li
		text-align: center
		display: inline-block
		a
			display: block
			padding: 1em 0
			margin: 0 .5em 1em .5em
			width: 5.5em
		a:hover
			opacity: .8
.follow_twitter a
	background-color: #02b4ee
.follow_google a
	background-color: #e1543f
.follow_facebook a
	background-color: #214c79
.follow_linkedin a
	background-color: #0072a1
.follow_rss a
	background-color: #ee8202
.follow_pinterest a
	background-color: #cc1006

// Listado de Artículos
// *––––––––––––––––––––––––––––––––––––––––––––––––––

.articulo
	margin-bottom: $espacio_doble
	a
		>img, div.meta, h3, h4
			margin-bottom: 1em

.meta
	@extend small
	overflow: auto
	color: $gris_claro
	>span:first-child
		float: left
	>span:last-child
		float: right

ul.articulos_pager
	text-align: center
	li
		display: inline-block
	a
		display: inline-block
		margin: 0 .5em
		padding: 1em 1.3em
		text-align: center
		font-size: 1.3em
		border: 1px solid #959595
		&.active
			border-color: $rojo
			background-color: $rojo
			color: white
		&:hover
			color: $negro
			border: 1px solid #959595
			background-color: $gris_calido

// Ads
// *––––––––––––––––––––––––––––––––––––––––––––––––––
.ad_group
	margin-bottom: $espacio_bloque

div.small_notice
	font-size: .8em
	color: $gris_claro
	a
		color: $gris_claro
		&:hover
			color: $negro

.ad_dh_uno
	>div:first-child
		float: left
		width: 50%
	>div:last-child
		float: right
		width: 50%
		>div
			padding: 1em
		>div:first-child
			background-color: $gris_calido

.ad_dh_dos
	background-color: $gris_calido
	position: relative
	margin-bottom: $espacio_bloque
	>div:first-child
		height: 6em
		background-size: cover
		background-position: center
	>div:nth-child(2)
		padding: 1em
	>div:nth-child(3)
		padding: 1em
		text-align: center
	p, button
		margin-bottom: 0

@media (min-width: $phablet_break)
	.ad_dh_dos
		height: 6em
		display: table
		>div
			display: table-cell
			vertical-align: middle
		>div:first-child
			width: 20%
		>div:nth-child(2)
			width: 60%
		>div:nth-child(3)
			width: 20%
			text-align: right
			button
				width: 100%
		div.small_notice
			position: absolute
			bottom: -2em

.ad_google_uno
	text-align: right

.ads_patrocinadores
	text-align: center
	ul li
		display: inline-block
		margin: 1em
		@media (min-width: $phablet_break)
			width: 25%
