/* Contenidos
	*––––––––––––––––––––––––––––––––––––––––––––––––––
	*- Home

// Home
// *––––––––––––––––––––––––––––––––––––––––––––––––––

.home_ads_uno
	>div >div:first-child
		width: 65%
		float: left
	>div >div:last-child
		width: 35%
		float: right
		text-align: right
