/*
 ** Skeleton V2.0.4
 ** Copyright 2014, Dave Gamache
 ** www.getskeleton.com
 ** Free to use under the MIT license.
 ** http://www.opensource.org/licenses/mit-license.php
 ** 12/29/2014

/* Table of contents
 *––––––––––––––––––––––––––––––––––––––––––––––––––
 *- Grid
 *- Buttons
 *- Forms
 *- Lists
 *- Tables
 *- Clearing

/* Grid
 *––––––––––––––––––––––––––––––––––––––––––––––––––

//Grid Variables
$container-max-width: 1280px
$container-width-larger-than-mobile: 85%
$container-width-larger-than-phablet: 90%
$total-columns: 12
$column-width: 100 / $total-columns
$column-margin: 2%

@function grid-column-width($n)
	@return $column-width * $n - ($column-margin*($total-columns - $n)/$total-columns)

@function grid-offset-length($n)
	@return grid-column-width($n) + $column-margin

.container
	position: relative
	width: 100%
	max-width: $container-max-width
	margin: 0 auto
	padding: 0 20px
	box-sizing: border-box

.row
	font-size: 0
	line-height: 0

.row .column, .row .columns,
	font-size: $general_font_size
	line-height: $general_line_height

.column, .columns
	width: 100%
	display: inline-block
	vertical-align: top
	box-sizing: border-box

/* Between small phones and desktop
@media (min-width: $small_break)
	.container
		width: $container-width-larger-than-mobile
		padding: 0

/* Larger than phones (desktop)
@media (min-width: $phablet_break)
	.container
		width: $container-width-larger-than-phablet
	.column, .columns
		margin-left: $column-margin
	.column:first-child, .columns:first-child
		margin-left: 0
	.one
		&.column, &.columns
			width: grid-column-width(1)
	.two.columns
		width: grid-column-width(2)
	.three.columns
		width: grid-column-width(3)
	.four.columns
		width: grid-column-width(4)
	.five.columns
		width: grid-column-width(5)
	.six.columns
		width: grid-column-width(6)
	.seven.columns
		width: grid-column-width(7)
	.eight.columns
		width: grid-column-width(8)
	.nine.columns
		width: grid-column-width(9)
	.ten.columns
		width: grid-column-width(10)
	.eleven.columns
		width: grid-column-width(11)
	.twelve.columns
		width: grid-column-width(12)
		margin-left: 0
	.one-third.column
		width: grid-column-width(4)
	.two-thirds.column
		width: grid-column-width(8)
	.one-half.column
		width: grid-column-width(6)
	/* Offsets
	.offset-by-one
		&.column, &.columns
			margin-left: grid-offset-length(1)
	.offset-by-two
		&.column, &.columns
			margin-left: grid-offset-length(2)
	.offset-by-three
		&.column, &.columns
			margin-left: grid-offset-length(3)
	.offset-by-four
		&.column, &.columns
			margin-left: grid-offset-length(4)
	.offset-by-five
		&.column, &.columns
			margin-left: grid-offset-length(5)
	.offset-by-six
		&.column, &.columns
			margin-left: grid-offset-length(6)
	.offset-by-seven
		&.column, &.columns
			margin-left: grid-offset-length(7)
	.offset-by-eight
		&.column, &.columns
			margin-left: grid-offset-length(8)
	.offset-by-nine
		&.column, &.columns
			margin-left: grid-offset-length(9)
	.offset-by-ten
		&.column, &.columns
			margin-left: grid-offset-length(10)
	.offset-by-eleven
		&.column, &.columns
			margin-left: grid-offset-length(11)
	.offset-by-one-third
		&.column, &.columns
			margin-left: grid-offset-length(4)
	.offset-by-two-thirds
		&.column, &.columns
			margin-left: grid-offset-length(8)
	.offset-by-one-half
		&.column, &.columns
			margin-left: grid-offset-length(6)

// Use of columns on fluid sets of list items

.row.fluid .three.columns:nth-child(5),
.row.fluid .three.columns:nth-child(9),
.row.fluid .three.columns:nth-child(13)
	margin-left: 0
.row.fluid .four.columns:nth-child(4),
.row.fluid .four.columns:nth-child(7),
.row.fluid .four.columns:nth-child(10)
	margin-left: 0
.row.fluid .six.columns:nth-child(3),
.row.fluid .six.columns:nth-child(5),
.row.fluid .six.columns:nth-child(7)
	margin-left: 0

/* Buttons
 *––––––––––––––––––––––––––––––––––––––––––––––––––

// Buttons base style
.button, button
	display: inline-block
	height: 3em
	padding: 0 1em
	color: inherit
	text-align: center
	text-decoration: none
	white-space: nowrap
	background-color: inherit
	border: 1px solid #d7d7d7
	border-radius: none
	box-shadow: none
	box-sizing: border-box
	font-size: inherit
	cursor: pointer

input
	&[type="submit"], &[type="reset"], &[type="button"]
		display: inline-block
		height: 3em
		padding: 0 1em
		color: inherit
		text-decoration: none
		white-space: nowrap
		background-color: inherit
		border: 1px solid #d7d7d7
		border-radius: none
		box-shadow: none
		box-sizing: border-box
		font-size: inherit
		cursor: pointer

// Hover states
.button:hover, button:hover
	color: #333
	border-color: #888
	outline: 0

input
	&[type="submit"]:hover, &[type="reset"]:hover, &[type="button"]:hover
		border-color: $azul
		outline: 0

// Focus States
.button:focus, button:focus
	border-color: $azul
	outline: 0

input
	&[type="submit"]:focus, &[type="reset"]:focus, &[type="button"]:focus
		color: inherit
		background-color: $rojo
		border-color: inherit

/* Forms
 *––––––––––––––––––––––––––––––––––––––––––––––––––

form.forma_negativo
	input
		color: white

input
	&[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"]
		height: 3em
		padding: 1em
		width: 100%
		font-size: inherit
		background-color: transparent
		border: 1px solid #d7d7d7
		border-radius: none
		box-shadow: none
		box-sizing: border-box

textarea, select
	height: 3em
	padding: 1em
	width: 100%
	font-size: inherit
	background-color: transparent
	border: 1px solid #d7d7d7
	border-radius: none
	box-shadow: none
	box-sizing: border-box

/* Removes awkward default styles on some inputs for iOS
input
	&[type="email"], &[type="number"], &[type="search"], &[type="text"], &[type="tel"], &[type="url"], &[type="password"]
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none

textarea
	-webkit-appearance: none
	-moz-appearance: none
	appearance: none
	min-height: 65px
	padding-top: 6px
	padding-bottom: 6px

// Focus States
input
	&[type="email"]:focus, &[type="number"]:focus, &[type="search"]:focus, &[type="text"]:focus, &[type="tel"]:focus, &[type="url"]:focus, &[type="password"]:focus
		border: 1px solid $azul
		outline: 0

textarea:focus, select:focus
	border: 1px solid $azul
	outline: 0

label, legend
	display: block
	margin-bottom: .5rem
	font-weight: 600

fieldset
	padding: 0
	border-width: 0

input
	&[type="checkbox"], &[type="radio"]
		display: inline

label > .label-body
	display: inline-block
	margin-left: .5rem
	font-weight: normal

/* Tables
 *––––––––––––––––––––––––––––––––––––––––––––––––––

th, td
	padding: 1rem
	text-align: left
	border-bottom: 1px solid #E1E1E1

th:first-child, td:first-child
	padding-left: 0

th:last-child, td:last-child
	padding-right: 0

/* Clearing
 *––––––––––––––––––––––––––––––––––––––––––––––––––

/* Self Clearing Goodness

.container:after, .row:after, .u-cf
	content: ""
	display: table
	clear: both
